<html>
  <head>
    <meta charset="utf-8"/>
    <title>Add Markets</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <header class="">
        <a href="/adminPage"><h1 class="jumbotron logo border">FootySquadPro</h1></a>
        <nav class="navbar-nav navbar-toggler">
          <a class="btn btn-danger border" href="/addMarkets?username={{ unique_user.username }}">Scoring System</a>
          <a class="btn btn-danger border" href="/addMarkets?username={{ unique_user.username }}">Game Rules</a>
          <a class="btn btn-danger border" href="/addMarkets?username={{ unique_user.username }}">Player Statistics</a>
          <a class="btn btn-danger border" href="{{ logout }}">Logout</a><br/>
        </nav>
      </header>
      <main class="border-top">
        <section class="">
          <h3>Squad Details</h3>
          Username: {{ unique_user.username }}<br/>
          Email: {{ unique_user.email }}<br/>
          Name: {{ unique_user.name }}<br/><br/>
          Squad Name: {{ squad.squad_name }}<br/>
          Squad Cost: {{ squad.squad_cost }}<br/>
          Account Balance: {{ unique_user.balance }}<br/>
          Margin Balance: {{ unique_user.margin }}<br/><br/>
        </section>
        <aside class="sidebar border-top">
          <h3>Line-Up</h3>
          <h4>Starting Eleven</h4>
            <p>{{ squad.gkp1 }}(GK)<br/>
            {{ squad.def1 }}<br/>
            {{ squad.def2 }}<br/>
            {{ squad.def3 }}<br/>
            {{ squad.def4 }}<br/>
            {{ squad.mid1 }}<br/>
            {{ squad.mid2 }}<br/>
            {{ squad.mid3 }}<br/>
            {{ squad.mid4 }}<br/>
            {{ squad.fwd1 }}<br/>
            {{ squad.fwd2 }}<br/></p>
          <h4>Substitutes</h4>
            <p>{{ squad.gkp2 }}(GK)<br/>
            {{ squad.def5 }}<br/>
            {{ squad.mid5 }}<br/>
            {{ squad.fwd3 }}<br/></p>
        </aside>
        <section class="border-top">
          <h3>Add Betting Markets</h3>
          <form method="post" action="/addMarkets">
            Add betting markets for {{ unique_user.username }}<br/><br/>
            <input type="text" name="username" value="{{ unique_user.username }}" style="width:150px;" readonly>
            <input type="text" name="squad_name" value="{{ squad.squad_name }}" style="width:150px;" readonly>
            <input type="text" name="market_name" value="" placeholder="Market Name" style="width:150px;" required>
            <input type="text" name="market_so_far" value="" placeholder="Market So Far" style="width:150px;" required>
            <input type="text" name="market_sell_price" value="" placeholder="Market Sell Price" style="width:150px;" required>
            <input type="text" name="market_buy_price" value="" placeholder="Market Buy Price" style="width:150px;" required>
            <input type="submit" value="Add" name="button" class="btn btn-primary"/><br/>
          </form>
        </section>
        <section class="">
          {% if market.count()>0 %}
          <h3>Available Markets</h3>
          {% for i in market %}
          {{ loop.index }}. {{ i.market_name }}<br/>
          {% endfor %}
          {% endif %}
          <br/>
          <a href="/updateMarkets?username={{ unique_user.username }}" class="btn btn-primary">Update Markets</a>
        </section>
      </main>
    </div>
  </body>
</html>
