<html>
  <head>
    <meta charset="utf-8"/>
    <title>Bet Results</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <header class="">
        <a href="/userProfile?username={{ unique_user.username }}"><h1 class="jumbotron logo border">FootySquadPro</h1></a>
        <nav class="navbar-nav navbar-toggler">
          <a class="btn btn-danger border" href="/scoring?username={{ unique_user.username }}">Scoring System</a>
          <a class="btn btn-danger border" href="/rules?username={{ unique_user.username }}">Game Rules</a>
          <a class="btn btn-danger border" href="/playerStats?username={{ unique_user.username }}">Player Statistics</a>
          <a class="btn btn-danger border" href="{{ logout }}">Logout</a><br/>
        </nav>
      </header>
      <main class="border-top">
        <section class="">
          <h2>Bet Results</h2>
          Welcome {{ unique_user.username }} to your FootySquadPro Bet Results page.<br/>
          Username: {{ unique_user.username }}<br/>
          Email: {{ unique_user.email }}<br/>
          Name: {{ unique_user.name }}<br/>
          Squad Name: {{ squad.squad_name }}<br/>
          Account Balance: {{ unique_user.balance }}  <a href="/payments?username={{ unique_user.username }}" class="btn badge-pill badge-primary">Manage</a><br/>
          Margin Balance: {{ unique_user.margin }}<br/><br/>
        </section>
        <section class="border-top">
          {% if bet.count()>0 %}
          <h3>Bet Summary</h3>
          <p>A list of bets placed by {{ unique_user.username }} is shown below.</p>
            {% for i in bet %}
            {{loop.index}}. €{{ i.bet_stake }} {{ i.bet_action }} of {{ i.bet_market }} @{{ i.bet_price }}.<br/>
            {% endfor %}
          {% endif %}
        </section><br/>
        <section class="subsec border-top">
          <h3>Open Bets</h3>
            {% for i in bet %}
            {% if i.bet_settlement == None %}
            <form>
              <input type="text" name="bet_market" value="{{ i.bet_market }}" style="width:150px;" readonly>
              <input type="text" name="bet_stakes" value="{{ i.bet_stake }}" style="width:150px;" readonly>
              <input type="text" name="bet_action" value="{{ i.bet_action }} @{{ i.bet_price }}" style="width:150px;" readonly>
            </form><br/>
            {% endif %}
            {% endfor %}
        </section>
        <section class="subsec border-top">
          <h3>Settled Bets</h3>
            {% for i in bet %}
            {% if i.bet_settlement != None %}
            <form>
              <input type="text" name="bet_market" value="{{ i.bet_market }}" style="width:150px;" readonly>
              <input type="text" name="bet_stakes" value="{{ i.bet_stake }}" style="width:150px;" readonly>
              <input type="text" name="bet_action" value="{{ i.bet_action }}" style="width:150px;" readonly>
              <input type="text" name="bet_settlement" value="Settled @{{ i.bet_settlement }}" style="width:150px;" readonly>
            </form><br/>
            {% endif %}
            {% endfor %}
        </section>
      </main>
    </div>
  </body>
</html>
