<html>
  <head>
    <meta charset="utf-8"/>
    <title>Bet Results</title>
  </head>
  <body>
    <form method="get" action="/">
      <input type="submit" value="Logout" name="button"/>
    </form>
    <a href="/userProfile?username={{ unique_user.username }}">Back to my profile.</a>
    <h2>Bet Results</h2>
    Welcome {{ unique_user.username }} to your FootySquadPro Bet Results page.<br/>
      <p>Username: {{ unique_user.username }}<br/>
      Email: {{ unique_user.email }}<br/>
      Name: {{ unique_user.name }}<br/>
      Squad Name: {{ squad.squad_name }}<br/>
      Account Balance: {{ unique_user.balance }}  <a href="/payments?username={{ unique_user.username }}">Manage</a><br/><br/></p>
    {% if bet.count()>0 %}
    <h3>Bet Summary</h3>
    <p>A list of bets placed by {{ unique_user.username }} is shown below.</p>
      {% for i in bet %}
      {{loop.index}}. €{{ i.bet_stake }} {{ i.bet_action }} of {{ i.bet_market }} @{{ i.bet_price }}.<br/>
      {% endfor %}
    {% endif %}
    <h3>Settled Bets</h3>
    <table>
      {% for i in bet %}
      {% if i.bet_settlement != None %}
      <form>
        <input type="text" name="market_name" value="{{ i.bet_market }}" readonly>
        <input type="text" name="bet_stakes" value="{{ i.bet_stake }}" readonly>
        <input type="text" name="bet_action" value="{{ i.bet_action }}" readonly>
        <input type="text" name="bet_settlement" value="Settled @{{ i.bet_settlement }}" readonly>
      </form>
      {% else %}
      <p>No settled bets at the moment. Please wait for the matches to finish.</p>
      {% endif %}
      {% endfor %}
    </table>
    <h3>Open Bets</h3>
    <table>
      {% for i in bet %}
      {% if i.bet_settlement == None %}
      <form>
        <input type="text" name="market_name" value="{{ i.market_name }}" readonly>
        <input type="text" name="market_so_far" value="{{ i.market_so_far }}" readonly>
        <input type="text" name="market_sell_price" value="{{ i.market_sell_price }}" readonly>
        <input type="text" name="market_buy_price" value="{{ i.market_buy_price }}" readonly>
      </form>
      {% else %}
      <p>No open bets at the moment. Please place new bets.</p>
      {% endif %}
      {% endfor %}
    </table>
  </body>
</html>
