<html>
  <head>
    <meta charset="utf-8"/>
    <title>Betting</title>
  </head>
  <body>
    <form method="get" action="/">
      <input type="submit" value="Logout" name="button"/>
    </form>
    <a href="/userProfile?username={{ unique_user.username }}">Back to my profile.</a>
    <h2>Betting</h2>
    Welcome {{ unique_user.username }} to your FootySquadPro Betting page.<br/>
      <p>Username: {{ unique_user.username }}<br/>
      Email: {{ unique_user.email }}<br/>
      Name: {{ unique_user.name }}<br/>
      Account Balance: {{ unique_user.balance }}  <a href="/payments?username={{ unique_user.username }}">Manage</a><br/><br/></p>
    <h3>Available Markets</h3>
    <table>
      <tr><th>Market</th><th>So Far</th><th>Action</th></tr>
      {% for i in market %}
      <form method="post" action="/betting">
        <tr><td><input type="text" name="market_name" value="{{ i.market_name }}" readonly></td>
            <td><input type="text" name="market_so_far" value="{{ i.market_so_far }}" readonly></td>
            <td><input type="text" name="market_sell" value="{{ i.market_sell_price }}" readonly>
                <input type="text" name="total_goals_buy" value="{{ i.market_buy_price }}" readonly>
                <input type="submit" value="SELL" name="button"/><input type="submit" value="BUY" name="button"/></td></tr>
      </form>
      {% endfor %}
    </table>
    <h3>Bet Summary</h3>
    <p>A list of bets placed by {{ unique_user.username }} is shown below.</p>
    {% if bet %}
      {% for i in bet %}
      {loop.index}. {{i}}
      {% endfor %}
    {% endif %}
  </body>
</html>
