<html>
  <head>
    <meta charset="utf-8"/>
    <title>FootySquadPro Home</title>
  </head>
  <body>
    {% if user %}
    <p>{{ welcome }} {{ user.email() }}. <br/> Welcome to FootySquadPro!</p>
      {% if admin %}
      <a href="/adminPage">Admin Page</a><br/>
      {% else %}
      <a href="/userSignUp">User Sign In or Sign Up</a>
      <br/>
      {% endif %}
    <!-- <form method="post" action="/">
    Enter username: <input type="text" name="username" required />
    <input type="submit" value="Submit" name="button"/>
    </form>
    {% if username %}
    <p>Welcome {{ username }}. <a href="/userProfile">Visit your profile</a></p>
    {% endif %} -->
    {% else %}
    <p>Hello guest, welcome to FootySquadPro!</p>
    {% endif %}
    <p>You can {{ url_string }} <a href='{{ url }}'>here.</a></p>
  </body>
</html>
