<html>
  <head>
    <meta charset="utf-8"/>
    <title>FootySquadPro</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <header class="">
        <a href="/"><h1 class="jumbotron logo border">FootySquadPro</h1></a>
        <nav class="navbar-nav navbar-toggler">
          <a class="btn btn-danger border " href="/">Scoring System</a>
          <a class="btn btn-danger border " href="/">Game Rules</a>
          <a class="btn btn-danger border " href="/">Player Statistics</a>
          <a class="btn btn-danger border " href="{{ logout }}">Logout</a><br/>
        </nav>
      </header>
      <main class="border-top">
        <section class="">
          <h2>Welcome</h2>
          {% if user %}
          <p>{{ welcome }} {{ user.email() }} to FootySquadPro! </p>
            {% if admin %}
            <a href="/adminPage" class="btn badge-pill badge-primary">Admin Page</a><br/><br/>
            {% else %}
            <a href="/userSignUp" class="btn badge-pill badge-primary">Enter / Create Username</a><br/>
            <br/>
            {% endif %}
          {% else %}
          <p>Hello guest, welcome to FootySquadPro!</p>
          <p>You can {{ url_string }} <a href='{{ url }}' class="btn badge-pill badge-primary">here.</a></p>
          {% endif %}
        </section>
        <!-- <img class="" src="{{ img }}" alt="Champions 2019/20"> -->
      </main>
    </div>
  </body>
</html>
